absl-py==0.6.1
asn1crypto==0.24.0
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1588698304332/work
atomicwrites==1.2.1
attrs==19.1.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1591017828430/work
awscli==1.16.57
backcall==0.1.0
bleach==3.3.0
botocore==1.12.47
cachetools==4.1.0
certifi==2020.6.20
cffi==1.12.2
chardet==3.0.4
Click==7.0
colorama==0.4.0
configparser==5.0.0
cryptography==2.5
cryptography-vectors==2.6.1
cycler==0.10.0
decorator==4.3.2
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.14
downhill==0.4.0
emcee==2.2.1
emukit==0.4.7
entrypoints==0.3
filelock==3.0.10
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1591898334868/work
flatbuffers==1.10
funcsigs==1.0.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.2
google-auth==1.15.0
google-auth-oauthlib==0.4.1
GPy==1.9.9
gql==0.2.0
graphql-core==1.1
grpcio==1.29.0
idna==2.8
imagecodecs==2020.2.18
imageio==2.8.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1593211372860/work
ipdb==0.11
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.3
joblib==0.15.1
jsonpickle==1.4.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
more-itertools==4.3.0
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nltk==3.5
notebook==5.7.4
numpy==1.16.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
packaging==20.4
pandas==0.23.4
pandocfilters==1.4.2
paramz==0.9.5
parso==0.3.4
pathtools==0.1.2
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.0
prometheus-client==0.6.0
promise==2.3
prompt-toolkit==2.0.9
protobuf==3.12.1
psutil==5.6.0
ptyprocess==0.6.0
py==1.7.0
py-cpuinfo==5.0.0
pyasn1==0.4.4
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycparser==2.19
pyDOE==0.3.8
pydotplus==2.0.2
pyflakes==2.2.0
Pygments==2.3.1
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1588950501175/work
pymongo==3.10.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyrsistent==0.14.11
PySocks==1.6.8
pytest==4.0.0
python-dateutil==2.8.0
python-Levenshtein==0.12.0
pytz==2018.9
PyWavelets==1.1.1
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.4.3
ray==0.6.4
redis==3.0.1
regex==2020.5.14
requests==2.21.0
requests-oauthlib==1.3.0
rsa==3.4.2
s3transfer==0.1.13
sacred==0.8.1
scikit-image==0.17.2
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
sentry-sdk==0.14.4
shortuuid==1.0.1
six==1.12.0
-e git+https://github.com/vmasrani/skeletor.git@3db2408495f8a7050516d2f319e8bab1dfcf83c0#egg=skeletor_ml
sklearn==0.0
smmap==3.0.4
statsmodels==0.9.0
subprocess32==3.5.4
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
Theano==1.0.3+unknown
tifffile==2020.5.11
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
torch==1.5.0
torchvision==0.6.0a0+82fd1c8
tornado==5.1.1
tqdm==4.46.0
-e git+https://github.com/vmasrani/track.git@fa61d517e5004667a717862e20a898e7f70986eb#egg=track_ml
traitlets==4.3.2
typed-ast==1.4.1
typing==3.6.6
urllib3==1.24.1
wandb==0.9.2
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.4.2
wrapt==1.11.2
zipp==3.1.0
